.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}
h3{
    color: rgb(112, 110, 192);
}
.title{
    
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: transparent;
    border-bottom: 2px solid #333;
  
}
.child {
    border: 2px solid #333;
    padding: 5px;
    margin: 0;
    border-radius: 8px;
    background-color: transparent;
    flex: 1 1 calc(50% - 16px);
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    border-color: rgb(96, 112, 162);
    backdrop-filter: blur(10px);
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
 